@charset "utf-8";

.foot_logo img {width: 155px;}
.only_m {display: none;}

/* 이벤트 */
.title_wrap {margin-bottom: 30px;}
.title_round {display: inline-block; margin-bottom: 13px; min-width: 174px; height: 26px; border-radius: 13px; background-color: #FFCE46; color: #3D1C60; line-height: 26px; font-size: 12px; font-weight: bold;}
.title {margin-bottom: 18px; color: #3D1C60; line-height: 48px; font-size: 36px;}
.title_detail {color: #666; line-height: 22px; font-size: 18px;}
.fc_white {color: #fff !important;}
.fc_blue {color: #1E78F0 !important;}
.fc_purple {color: #3D1C60 !important;}
.fc_red {color: #EC4041 !important;}

.event_top {margin-top: 60px; background: #D2F4FF url('../img/event/event_top.svg') no-repeat 82% 100%;} /* 2021-11-02 수정 */
.event_top .inner {display: table; position: relative; margin: 0 auto; width: 1320px;}
.event_top .txt_group {display: table-cell; height: 437px; vertical-align: middle;}
.event_top .txt_group .title_detail {margin-bottom: 22px; color: #3D1C60; line-height: 24px; font-size: 16px;}
.event_top .txt_group .title {margin-bottom: 28px; color: #3D1C60; line-height: 48px; font-size: 36px;}
.dl_ty {position: relative; padding-left: 76px; line-height: 22px; font-size: 14px;}
.dl_ty dt {position: absolute; top: 0; left: 0; color: #1E78F0; font-weight: bold; vertical-align: top;}
.dl_ty dd {color: #666;}
.dl_ty dd .fc_red {color: #FF3333; font-size: 10px;}
.btn_event_info {display: inline-block; margin-top: 30px; padding: 0 10px; min-width: 122px; height: 36px; border-radius: 20px; color: #3774DF; line-height: 36px; font-size: 16px; font-weight: bold; text-align: center; background-color: #fff; box-sizing: border-box;}

.sec .inner {position:relative;z-index: 1;margin: 0 auto; width: 1320px; box-sizing: border-box;}
div[class^='sec event'] {position: relative; overflow:hidden; max-width: 1320px;margin: 24px auto 0;border-radius: 22px;}
.sec.event0 {background: #FECE46; margin-top: 60px;}
.event0 .inner {padding: 60px 0; text-align: center;}
.event0 .title_detail {margin-bottom: 30px; color: #3774DF; font-weight: bold;}
.event0 .img_g {position: absolute;right:63px;top: 59px;}
.btn_round {display: inline-block; position: relative; padding: 0 34px; min-width: 166px; height: 48px; border-radius: 25px; box-sizing: border-box; line-height: 48px; font-size: 18px; font-weight: bold; text-align: center; background-color: #fff;}
.btn_round span {display: inline-block;vertical-align: top;padding-right: 20px;background-origin: content-box;}
.btn_round.purple {min-width: 260px; color: #3D1C60; }
.btn_round.purple span {background: #fff url('../img/event/arrow_purple.svg') no-repeat 100% 51%;}
.btn_round.red {min-width: 260px; color: #EC4041; }
.btn_round.red span {background: #fff url('../img/event/arrow_red.svg') no-repeat 100% 51%;}
.btn_round.gray {color: #fff; background-color: #D2D2D2;}
.btn_round.blue {min-width: 166px; color: #fff; background-color: #1E78F0; text-align: center;}
.btn_round.blue:disabled {background-color: #C7C7C7;}
.btn_round.green {color: #1b90b4;}
.btn_round.green span {background: url('../img/event/arrow_green.svg') no-repeat 100% 51%;}
.event1 {background: #EC4041 url('../img/event/bg_event1.svg') no-repeat 50% 50%;}
.event1 .inner {padding: 60px 0; text-align: center;}
.event1 .title_detail {margin-bottom: 30px;}
.event1 .title_detail strong {font-weight: 400;}

.event2 {background-color: #D2F4FF;}
.event2 .inner {padding: 60px 0 0; text-align: center;}
.stamp_box {margin-top: 30px; padding: 40px; border-radius: 22px; }
.stamp_list {display: flex; flex-wrap: nowrap; align-content: space-between; margin-bottom: 30px; line-height: 0; font-size: 0;}
.stamp_list li {display: inline-block; margin-left: 30px; width: 150px; vertical-align: top;}
.stamp_list li:first-child {margin-left: 0;}
.stamp_list .stamp {width: 100%; border-radius: 50%;}
.stamp_list .stamp img {max-width: 100%;}
.stamp_box .btn_round {text-align: center;background-color: #EC4041;}
.stamp_box .btn_round.gray {background-color: #D2D2D2; }
.title_detail {margin-top: 26px;}

.event3 {background-color: #f7f7f7;}
.event3 .inner {padding: 60px 0; text-align: center;}
.event3 .title_round {margin-bottom: 30px;}
.event3 .title {margin-bottom: 26px;}
.event3 .title_detail {margin-bottom: 30px;}
.event3 .form_item {display: inline-block; margin: 0 25px; padding: 0 20px; width: 684px; height: 80px; border: 4px solid #1E78F0; border-radius: 40px; color: #1E78F0; font-size: 36px; font-weight: bold; text-align: center; box-sizing: border-box;}
.event3 .title_wrap {margin-bottom: 0;}

.event4 {background-color: #ecf0f3;}
.event4 .inner {padding: 66px 45px 60px; text-align: center;}
.event4 .title2 {color: #1E78F0;}
.event4 .cont_wrap {position: relative; padding-left: 515px; padding-top: 30px;}
.event4 .app_pic {position: absolute; bottom: -60px; left: -115px;}
.event4 .app_pic img {max-height: 540px;}
.white_box {margin-bottom: 40px; padding: 28px 20px 30px; min-height: 205px; border-radius: 22px; background-color: #fff; box-sizing: border-box;}
.white_box .row {position: relative; margin-top: 20px; padding-left: 78px; text-align: left;}
.white_box .row:first-child {margin-top: 0;}
.white_box .row .title2 {position: absolute; top: 0; left:0;}
.step li {position: relative; padding-left: 50px;}
.step li strong {position: absolute; top: 0; left: 0;}
.url_form {display: block; position: relative; overflow: hidden; margin-bottom: 10px; height: 48px;}
.url_form:last-child {margin-bottom: 0;}
.url_form .btn_round {position: absolute; top: 0; right: 0; padding: 0; font-size: 18px;}
.url_form .form_item {display: block; padding: 0 180px 0 37px; width: 100%; height: 48px; border: 2px solid #1E78F0; border-radius: 25px; box-sizing: border-box; color: #1E78F0; font-size: 18px; font-weight: bold; background-color: #fff;}
.url_form .form_item:disabled {border-color: #C7C7C7; color: #999;}
.url_form .form_item::-webkit-input-placeholder{color: #1E78F0;}
.url_form .form_item::-moz-input-placeholder{color:#1E78F0;}
.url_form .form_item:-ms-input-placeholder{color:#1E78F0;}

.event5 {background-color: #fff;}
.event5 .inner {padding: 57px 0 100px; text-align: left;}
.event5 .title2 {margin-bottom: 7px; color: #1E78F0; line-height: 14px; font-size: 12px; font-weight: bold;}
.event5 .event_info li {padding-left: 10px; line-height: 18px; font-size: 12px; text-indent: -10px;}

.event6 {background-color: #3d1c60;}
.event6::before{position: absolute;left: 0;top: 0;width: 50%;height: 100%;background: url(../img/event/bg_hangul1.svg) no-repeat 35% 50%;content: '';}
.event6::after{position: absolute;right: 0;top: 0;width: 50%;height: 100%;background: url(../img/event/bg_hangul2.svg) no-repeat 83% 50%;content: '';}
.event6 .inner {padding: 60px 0; text-align: center;}
.event6 .title_detail {margin-bottom: 30px;}

.event7 {background: #1b90b4 url(../img/event/bg_event7.png) no-repeat; background-size: cover;background-position: center center;}
.event7 .inner {padding: 60px 0; text-align: center;}
.event7 .title_detail {margin-bottom: 30px;}



.event_banner {position: absolute; width: 123px; height: 150px; }



/* 이벤트 안내 팝업 */
.popup_event {display: none;}
.popup_event .popup {position: absolute; top: 10%; left: 50%; width: 1146px; background-color: #fff; box-sizing: border-box; transform: translateX(-50%);}
.pop_close {position: absolute; top: 30px; right: 30px;}
.popup_event .popup_cont {padding: 34px 100px 40px 93px;}
.popup_event .pop_title {margin-bottom: 35px; color: #3d1c60; line-height: 40px; font-size: 30px;}
.popup_event .popup_cont .fl {width: 375px;}
.popup_event .popup_cont .fr {width: 540px;}
.popup_event .popup_cont .fr .pop_dl {margin-bottom: 0;}
.pop_dl {margin-bottom: 24px;}
.pop_dl dt {margin-bottom: 7px; color: #3774df; line-height: 22px; font-size: 18px; font-weight: bold;}
.pop_dl dd {color: #666; line-height: 20px; font-size: 14px;}
.popup_event .gift {margin-top: -18px; line-height: 0; font-size: 0;}
.popup_event .gift li {display: inline-block; margin-top: 30px; width: 33.33%; line-height: 18px; font-size: 12px; text-align: center; vertical-align: top;}
.popup_event .gift .pic {display: flex;justify-content: center;align-items: center; position: relative; margin-bottom: 9px; height: 100px;}
/* .popup_event .gift .pic img {} */
.popup_event .gift .pic .rank {position: absolute; top: -20px; right: 0px; width: 45px; height: 56px; color: #fff; line-height: 56px; font-size: 14px; font-weight: bold; text-align: center;}
.popup_event .gift .pic .rank.red {background: url('../img/event/rank_red.svg') no-repeat 50% 50%;}
.popup_event .gift .pic .rank.blue {background: url('../img/event/rank_blue.svg') no-repeat 50% 50%;}
.popup_event .gift .pic .rank.yellow {font-size: 11px; background: url('../img/event/rank_yellow.svg') no-repeat 50% 50%;}
.popup_event .gift li:nth-child(4) {padding-top: 10px;}
.popup_event .gift li:nth-child(4) .pic {height: 87px;}
.popup_event .gift li .txt {display: block; line-height: 16px; font-size: 12px;}
.popup_event .gift li .txt span {color: #999;}
.popup_event .gray_box {margin: 0 auto; padding-top: 14px; width: 147px; height: 152px; background-color: #f7f7f7; box-sizing: border-box;}
.popup_event .gray_box .pic {margin-bottom: 0; height: 65px !important;padding-top: 5px;padding-bottom: 3px;}
.popup_event .gray_box strong {line-height: 15px; font-size: 12px;}
.pop_list li {padding-left: 10px; color: #666; line-height: 14px; font-size: 10px; text-indent: -10px;}
.popup_event .fr .pop_list {display: none;}
.popup_event .pop_list.type_pc {text-align: center;}
.popup_event .pop_list.type_pc li {display: inline-block;vertical-align: top;}

/* 타임어택 */
.time_attack_top {margin-top: 60px; background: #3774DF url('../img/event/bg_time_attack.svg') no-repeat 50% 50%; text-align: center;}
.time_attack_top .inner {padding: 100px 0; min-height: 720px; box-sizing: border-box;}
.time_attack_top .title_wrap {margin-bottom: 146px;}
.time_attack_top .title_round {margin-bottom: 7px; padding: 0 11px; color: #fff; background: #3D1C60;}
.time_attack_top .title {margin-bottom: 13px; color: #fff; line-height: 73px; font-size: 54px;}
.time_attack_top .title_detail { margin-top: 0; color: #fff; line-height: 22px; font-size: 14px;}
.time_area .time_tit {position: relative; margin: 0 auto; width: 678px;}
.time_area .time_tit::before {display: block; content: ''; position: absolute; top: 50%; left: 0; width: 100%; height: 1px; background: rgba(255,255,255,0.2); z-index: 1;}
.time_area .time_tit span {position: relative; padding: 0 50px; color: #FECE46; line-height: 30px; font-size: 22px; font-weight: bold; background: #3774DF; z-index: 2;}
.time_area .time_txt {display: block; margin-bottom: 14px; color: #fff; line-height: 169px; font-size: 127px; font-weight: 300;}
.time_area .time_tip {color: #fff; line-height: 19px; font-size: 14px; letter-spacing: 0px;}
.time_attack_top .start {background: url('../img/event/bg_clock.svg') no-repeat 50% 277px;}
.time_attack_top .start .time_tit::before {display: none;}

.ta_intro .inner {margin: 0 auto; padding: 56px 0 100px; width: 1320px;}
.ta_intro .top {margin-bottom: 60px; text-align: center;}
.ta_intro .top .title {margin-bottom: 19px; color: #3774DF; line-height: 29px; font-size: 22px;}
.ta_intro .top p {color: #666; line-height: 22px; font-size: 16px;}
.ta_intro .mid {margin-bottom: 62px; padding: 0 112px;}
.ta_intro .pink_box {padding: 33px 31px 40px 65px; background: #FFF1F0 url('../img/event/br_pic.png') no-repeat 100% 30%; background-origin: content-box;}
.ta_intro .pink_box .tit {margin-bottom: 28px; color: #EC4041; line-height: 48px; font-size: 36px;}
.ta_intro .pink_box dl dd {line-height: 22px;}
.ta_intro .pink_box dl dt {margin: 17px 0 5px; color: #3774DF;font-size: 18px; font-weight: bold;}
.ta_intro .pink_box dl dt:first-child {margin-top: 0;}
.ta_intro .pink_box dl dd {color: #666; font-size: 16px;}
.ta_intro .btm_banner {display: block; padding: 30px 30px 34px; color: #fff; text-align: center; background: #C7C7C7; cursor: default;}
.ta_intro .btm_banner.on {color: #3D1C60; background: #FFCE46; cursor: pointer;}
.ta_intro .btm_banner .txt1 {line-height: 30px; font-size: 22px; font-weight: bold;}
.ta_intro .btm_banner .txt2 {line-height: 22px; font-size: 16px;}
.ta_intro .btm_banner .arrow_btm_blue {display: inline-block; margin-left: 5px; width: 24px; height: 12px; background: url('../img/event/arrow_btm_blue.svg') no-repeat 50% 50%; vertical-align: middle;}

.quiz .inner {margin: 0 auto; padding: 80px 0 100px; width: 1320px;}
.quiz_list {margin-bottom: 80px;}
.quiz_list li {display: none; position: relative; padding: 80px 0; border-bottom: 1px solid #999;}
.quiz_list li:first-child {padding-top: 0;}
.quiz_list li.first {display:block;}
.question {display: table; width: 100%; margin-bottom: 39px;}
.question .num {display: table-cell; width: 117px; color: #C7C7C7; line-height: 74px; font-size:72px; font-weight: bold;}
.question p {display: table-cell; color: #666; line-height: 44px; font-size: 32px; vertical-align: middle;}
.answer_list {}
.radio {position: relative; margin-right:40px;}
.radio input[type="radio"]	{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
.radio input[type="radio"] + label {display:inline-block; position: relative; cursor: pointer; color:#999; line-height: 58px; font-size: 44px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; vertical-align: top;font-weight: bold;}
.radio input[type="radio"] + label:before {content: ' '; background: url('../img/event/radio_off.svg')no-repeat 50% 50%; display: inline-block; margin-right: 10px; width: 58px; height: 58px; line-height: 58px; vertical-align: top;background-size: cover;}
.radio input[type="radio"]:checked + label {color: #3774DF;}
.radio input[type="radio"]:checked + label:before {content: ' '; background: url('../img/event/radio_on.svg')no-repeat 50% 50%;background-size: cover;}
.hint {padding-left: 117px;}
.btn_hint {display: inline-block; min-width: 117px; height: 36px; border-radius: 20px; color: #fff; line-height: 36px; font-size: 18px; text-align: center; background-color: #FFCE46; vertical-align: top;}
.arrow_btm {display: inline-block; margin-left: 3px; width: 12px; height: 36px; background: url('../img/event/arrow_btm.svg') no-repeat 50% 50%; background-size: 12px auto; vertical-align: top;}
.hint_view {display: none; margin-top: 20px; color: #666; line-height: 32px; font-size: 18px;}
.hint_view a {color: #666; text-decoration: underline;}
.hint.on .arrow_btm {transform: rotate(-180deg);}
.quiz .btn_area {text-align: center;}
.quiz .btn_area .arrow_btm {margin-left: 14px; width: 20px; height: 48px; background-size: 20px auto;}

.quiz_result .inner {margin: 0 auto; padding: 60px 0; width: 1320px;}
.quiz_result .result_top {margin-bottom: 60px; text-align: center;}
.quiz_result .result_top p {margin-bottom: 30px; color: #3d1c60; line-height: 44px; font-size: 36px; font-weight: bold;}
.quiz_result .result_top strong {display: block; color: #666; line-height: 22px; font-size: 16px;}
.commentary li {padding: 60px 0; border-top: 1px solid #c7c7c7;}
.commentary .tit {display: block; margin-bottom: 20px; color: #999; line-height: 22px; font-size: 22px;}
.commentary .q_txt {position: relative; margin-bottom: 31px; padding-left: 39px; color: #666; line-height: 32px; font-size: 18px; font-weight: bold;}
.commentary .q_txt .num {position: absolute; top: 0; left: 0; color: #3774df;}
.commentary dl {position: relative; margin-bottom: 10px; padding-left: 39px; line-height: 32px; font-size: 18px;}
.commentary dl:last-child {margin-bottom: 0;}
.commentary dt {position: absolute; top: 0; left: 0; color: #3774df; font-weight: bold;}
.commentary dd {color: #666;}


/* 룰렛이벤트 */
.roulette_event {
  width: 1080px;
  min-height: 1920px;
  padding: 120px 90px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.roulette_event::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: #f7f7f7;
}

.roulette_event .logo_box {
  margin-bottom: 30px;
}
.roulette_event .event_tit {
  font-size: 72px;
  line-height: 1;
  color: #ec4041;
  font-weight: bold;
  margin-bottom: 115px;
}
.roulette_event .btn_round.blue {
  width: 230px;
  height: 63px;
  border-radius: 31.5px;
  font-size: 28px;
  font-weight: bold;
}
.roulette_event .btn_back {
  margin-top: 180px;
  position: relative;
}

.roulette_wrap {position: relative; padding: 18px; margin: 0 auto; width: 894px; height: 894px; border-radius: 50%; background: url('../img/event/bg_roulette.svg') no-repeat 50% 50%; box-sizing: border-box;background-size: cover;}
.roulette_wrap .white_bg {overflow: hidden; padding: 38px; width: 100%; height: 100%; border-radius: 50%; box-sizing: border-box; background-color: #fff;}
.roulette_wrap .pin {position: absolute; top: -20px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 10;}
.roulette_wrap .pin img {width: 90px;}
.roulette_wrap .start_btn {position: absolute; top: 49.5%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);z-index: 10;border-radius: 50%;width: 20%;height: 20%;background-color: #2b2929;text-align: center;color: #fff;font-size:36px;font-weight: bold;}
.roulette_info {position: relative; padding: 30px 59px 50px 180px; background-color: #f7f7f7;}
.roulette_info h3 {position: absolute; top: 30px; left: 59px; color: #1E78F0; line-height: 22px; font-size: 22px; vertical-align: top;}
.roulette_info p {color: #666; line-height: 22px; font-size: 16px;}
.roulette_wrap .cont {width: 100%;height: 100%;display: flex; align-items: center;justify-content: center;flex-flow: column;}
.roulette_wrap .cont h3 {color: #1E78F0; line-height: 68px; font-size: 57px;}
.roulette_wrap .cont .btn_area {margin-top: 58px;}
.roulette_quiz {margin-top: 64px;margin-bottom: 20px;}
.roulette_quiz em {display: block; margin-bottom: 16px; color: #1E78F0; line-height: 34px; font-size: 28px; font-weight: bold;}
.roulette_quiz p {margin-bottom: 77px;  color: #666; line-height: 36px; font-size: 28px;}
.roulette_quiz .answer_list {padding-left: 0;}
.roulette_quiz .radio {margin-right: 80px;}
.roulette_quiz .radio:last-child {margin-right: 0;}
.quiz_result {margin-top: 20px;padding: 0 70px;}
.quiz_result img {width: 323px;height: 323px;}
.quiz_result p {color: #666; line-height: 32px; font-size: 22px;margin-top: 10px;}
.quiz_score {margin-bottom: 40px;}
.quiz_score p {color: #666; line-height: 18px; font-size: 14px;}



/* 나에게 맞는 기관 찾기 */
.center_top { background-color:#FECE46;}
.center_top .inner {display: flex;align-items: center;justify-content: center;flex-flow: column; position: relative; margin: 0 auto; width: 920px;  height: 293px; text-align: center; box-sizing: border-box;}
.center_top h2 {position: relative; margin-bottom: 20px; color: #3D1C60; line-height: 38px; font-size: 42px; z-index: 2;}
.center_top p {position: relative; color: #3D1C60; line-height: 17px; font-size: 16px;z-index: 2;font-weight: 500;}
.center_top .icon_hand {position: absolute; right: 20px; bottom: 0; z-index: 1;}

.center_cont .inner {margin: 0 auto; padding: 80px 0 100px; width: 920px;}
.center_cont h3 {margin: 56px 0 20px; padding-left: 11px; color: #1E78F0; line-height: 28px; font-size: 23px;}
.center_cont h3:first-child {margin-top: 0;}
.center_cont h3 span {font-size: 16px; font-weight:400;}
.center_cont .btn_area {margin-top: 60px; text-align: center;}
.center_cont .btn_area .btn_round { width: 230px; height: 63px; line-height: 63px; border-radius: 31.5px; font-size: 28px;}
.check_list {margin-top: -22px;}
.check_list::after {display: block; content: ''; clear: both;}
.check_list li {float: left; margin-top: 22px; padding: 0 11px; width: 25%; box-sizing: border-box;}
.check_list li:first-child {margin-left: 0;}
.chk {position: relative; display: block; width: 100%; border: 1px solid #C7C7C7; text-align: center; box-sizing: border-box;}
.chk:after {display: block; content: ''; padding-bottom: 100%;}
.chk input[type="radio"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
.chk input[type="radio"] + label {position: absolute; top: 0; left: 0; padding-top: 75%; box-sizing: border-box; width: 100%; height: 100%; cursor: pointer; color:#999; font-weight: 500; line-height: 23px; font-size: 18px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; vertical-align: top;}
.chk input[type="radio"] + label:before {display: inline-block; content: ' '; position: absolute; top: 0; left: 0; width: 100%; height: 75%; background-size: auto 45% !important; ;}
.chk input[type="radio"]:checked + label {color: #3d1c60;font-weight: bold;}
.chk input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
.chk input[type="checkbox"] + label {position: absolute; top: 0; left: 0; padding-top: 75%; box-sizing: border-box; width: 100%; height: 100%; cursor: pointer; color:#999; font-weight: 500; line-height: 23px; font-size: 18px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; vertical-align: top;}
.chk input[type="checkbox"] + label:before {display: inline-block; content: ' '; position: absolute; top: 0; left: 0; width: 100%; height: 75%; background-size: auto 45% !important; ;}
.chk input[type="checkbox"]:checked + label {color: #3d1c60;font-weight: bold;}

.icon_gender1 input[type="radio"] + label:before {background: url('../img/event/icon_gender1.svg') no-repeat 50% 50%;}
.icon_gender1 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_gender1_on.svg');}
.icon_gender2 input[type="radio"] + label:before {background: url('../img/event/icon_gender2.svg') no-repeat 50% 50%;}
.icon_gender2 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_gender2_on.svg');}
.icon_age1 input[type="radio"] + label:before {background: url('../img/event/icon_age1.svg') no-repeat 50% 50%;}
.icon_age1 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age1_on.svg');}
.icon_age2 input[type="radio"] + label:before {background: url('../img/event/icon_age2.svg') no-repeat 50% 50%;}
.icon_age2 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age2_on.svg');}
.icon_age3 input[type="radio"] + label:before {background: url('../img/event/icon_age3.svg') no-repeat 50% 50%;}
.icon_age3 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age3_on.svg');}
.icon_age4 input[type="radio"] + label:before {background: url('../img/event/icon_age4.svg') no-repeat 50% 50%;}
.icon_age4 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age4_on.svg');}
.icon_age5 input[type="radio"] + label:before {background: url('../img/event/icon_age5.svg') no-repeat 50% 50%;}
.icon_age5 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age5_on.svg');}
.icon_age6 input[type="radio"] + label:before {background: url('../img/event/icon_age6.svg') no-repeat 50% 50%;}
.icon_age6 input[type="radio"]:checked + label:before {background-image: url('../img/event/icon_age6_on.svg');}
.icon_keyword1 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword1.svg') no-repeat 50% 50%;}
.icon_keyword1 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword1_on.svg');}
.icon_keyword2 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword2.svg') no-repeat 50% 50%;}
.icon_keyword2 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword2_on.svg');}
.icon_keyword3 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword3.svg') no-repeat 50% 50%;}
.icon_keyword3 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword3_on.svg');}
.icon_keyword4 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword4.svg') no-repeat 50% 50%;}
.icon_keyword4 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword4_on.svg');}
.icon_keyword5 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword5.svg') no-repeat 50% 50%;}
.icon_keyword5 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword5_on.svg');}
.icon_keyword6 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword6.svg') no-repeat 50% 50%;}
.icon_keyword6 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword6_on.svg');}
.icon_keyword7 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword7.svg') no-repeat 50% 50%;}
.icon_keyword7 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword7_on.svg');}
.icon_keyword8 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword8.svg') no-repeat 50% 50%;}
.icon_keyword8 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword8_on.svg');}
.icon_keyword9 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword9.svg') no-repeat 50% 50%;}
.icon_keyword9 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword9_on.svg');}
.icon_keyword10 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword10.svg') no-repeat 50% 50%;}
.icon_keyword10 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword10_on.svg');}
.icon_keyword11 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword11.svg') no-repeat 50% 50%;}
.icon_keyword11 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword11_on.svg');}
.icon_keyword12 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword12.svg') no-repeat 50% 50%;}
.icon_keyword12 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword12_on.svg');}
.icon_keyword13 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword13.svg') no-repeat 50% 50%;}
.icon_keyword13 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword13_on.svg');}
.icon_keyword14 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword14.svg') no-repeat 50% 50%;}
.icon_keyword14 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword14_on.svg');}
.icon_keyword15 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword15.svg') no-repeat 50% 50%;}
.icon_keyword15 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword15_on.svg');}
.icon_keyword16 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword16.svg') no-repeat 50% 50%;}
.icon_keyword16 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword16_on.svg');}
.icon_keyword17 input[type="checkbox"] + label:before {background: url('../img/event/icon_keyword17.svg') no-repeat 50% 50%;}
.icon_keyword17 input[type="checkbox"]:checked + label:before {background-image: url('../img/event/icon_keyword17_on.svg');}


/* 나에게 맞는 기관 찾기 결과 팝업 */
.popup_mycenter {display: none;}
.popup_mycenter .popup_cont {padding: 0 60px;}
.popup_mycenter .popup {position: absolute; top: 100px; left: 50%; width: 763px; background-color: #fff; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.popup_mycenter .mycenter_top {text-align: center;padding-top: 85px;}
.popup_mycenter .b_round {display: inline-block; vertical-align: top; padding: 0 17px; min-width: 124px; height: 34px; border: 1px solid #C7C7C7; border-radius: 15px; color: #999; line-height: 32px; font-size: 16px; text-align: center; background-color: #fff; box-sizing: border-box;font-weight: bold;}
.mycenter_top .pop_title {margin-bottom: 30px; color: #3D1C60; line-height: 41px; font-size: 31px;}
.mycenter_top dt {margin-bottom: 11px; color: #3774DF; line-height: 28px; font-size: 18px; font-weight: bold;}
.mycenter_top .b_round {height: 34px;line-height: 32px;padding: 0 17px;min-width: 124px; box-sizing: border-box;margin-left: 20px;font-size: 16px;font-weight: bold;}
.mycenter_top .b_round:first-child {margin-left: 0;}
.mycenter_mid {padding: 40px 0 60px;margin-top: 40px;border-top: 1px solid #C7C7C7; text-align: center;}
.link_list {line-height: 0; font-size: 0;}
.link_list li {display: inline-block; width: 25%; vertical-align: top;}
.link_list .pic {display: inline-block; overflow: hidden; margin-bottom: 10px; width: 48px; height: 48px; border-radius: 50%; border: 1px solid #c7c7c7; text-align: center;}
.link_list strong {display: block; margin-bottom: 10px; color: #3D1C60; line-height: 27px; font-size: 18px;}
.mycenter_mid .btm {margin-top: 40px; padding-top: 40px; border-top: 1px solid #C7C7C7;}
.mycenter_mid .btm p {margin-bottom: 20px; color: #3D1C60; line-height: 24px; font-size: 22px; font-weight: bold;}
.mycenter_mid .btm .btn_round {padding: 0 20px; min-width: 160px; height: 36px; line-height: 36px; font-size: 14px;}


.btn_back {display: block;margin: 0 auto;width: 304px;height: 128px;border-radius: 64px;background-color: #c3c3c3;color: #fff;text-align: center;font-size: 36px;font-weight: bold;}
.btn_back.ty_s {width: 240px;height: 80px;font-size: 26px;}

/* 내정보 */
.mypage {margin-top: 60px; padding: 100px 60px 65px; text-align: center;}
.mypage .mypic {margin-bottom: 27px;}
.mypage .myname {display: block; margin-bottom: 12px; color: #000; line-height: 1.22; font-size: 36px;}
.mypage .myetc {margin-bottom: 30px; color: #999; line-height: 15px; font-size: 12px; font-weight: bold;}
.mypage .btn_round {margin-bottom: 0; padding: 0 10px; min-width: 93px; height: 26px; border: 1px solid #C7C7C7; color: #999; line-height: 24px; font-size: 12px; font-weight: bold; }
.mypage .my_heart {font-size: 16px;line-height: 18px;color: #ff0000;font-weight: bold;margin-bottom: 22px;}
.mypage .my_heart img {height: 18px;}
.mypage .phone { position: relative; overflow: hidden;  margin: 0 auto 12px; padding-right: 30px; width: 229px; height: 26px; box-sizing: border-box; }
.mypage .phone input { display: block; padding: 0 40px 0 10px; width: 100%; height: 26px;  border: 1px solid #C7C7C7; border-radius: 15px 0 0 15px ;   color: #999; font-size: 12px; font-weight:bold; box-sizing: border-box;}
.mypage .phone input::-webkit-input-placeholder{color:#999; }
.mypage .phone input::-moz-input-placeholder{color:#999; }
.mypage .phone input:-ms-input-placeholder{color:#999; }
.mypage .phone button { position: absolute; top: 0; right: 0; width: 60px; height: 26px; border: 0 none; border-radius: 15px; border: 0 none; background: #3774DF; color: #fff; font-size: 12px; font-weight: bold; z-index: 1; }
.heart_count dt {margin-bottom: 15px; color: #1E78F0; line-height: 24px; font-size: 22px; font-weight: bold;}
.heart_count dd {color: #FC0F00; line-height: 74px; font-size: 72px; font-weight: bold;}
.heart_count dd img {margin-top: 5px;}




.my_history .inner {margin: 0 auto; padding: 60px 0; width: 1320px;}
.my_history h2 {margin: 60px 0 20px; color: #1E78F0; line-height: 24px; font-size: 22px;}
.my_history h2:first-child {margin-top: 0;}
.history_list {margin-top: -20px; line-height: 0; font-size: 0;}
.history_list li {display: inline-block; margin-top: 20px; width: 25%; line-height: 48px; color: #3D1C60; font-size: 16px; font-weight: bold;}
.history_list li .logo_pic {display: inline-block; vertical-align: top; overflow: hidden; margin-right: 10px; width: 48px; height: 48px; border-radius: 50%; border: 1px solid #c7c7c7; }
.my_slide .inner {margin: 0 auto; padding-bottom: 100px; width: 1342px;}
.my_slide h2 {margin: 0 0 20px 12px; color: #1E78F0; line-height: 24px; font-size: 22px;}
.mymovie_slide {overflow: visible;}
.mymovie_slide .slick-track { margin: 0; }
.mymovie_slide .slide_item {padding: 0 12px;}
.mymovie_slide .pic {margin-bottom: 10px; width: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.mymovie_slide .pic img {width: 100%; opacity: 0; }
.mymovie_slide dt { overflow: hidden; margin-bottom: 6px; color: #1E78F0; line-height: 14px; font-size: 12px; font-weight: bold; text-overflow: ellipsis;  white-space: nowrap; }
.mymovie_slide dd {overflow: hidden; max-height: 44px; color: #000;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.mymovie_slide .slick-arrow {position: absolute; top: 35px; width: 48px; height: 48px; border-radius: 50%; z-index: 1; line-height: 0; font-size: 0;}
.mymovie_slide .slick-prev {left: -12px; background: url('../img/mypage/btn_slide_prev.svg') no-repeat 0 0;}
.mymovie_slide .slick-next {right: -12px; background: url('../img/mypage/btn_slide_next.svg') no-repeat 0 0;}
.mymovie_slide .slick-arrow.slick-disabled {display: none !important;}


.mypage_sec_tit {margin-bottom: 30px;}
.mypage_sec_tit h2 {font-size: 22px;line-height: 26px;font-weight: bold;color: #3774df;}
.mypage_sec_tit p {font-size: 14px;line-height: 22px;margin-top: 10px;color: #999;}
.mypage_exp {margin-bottom: 60px;}
.mypage_inner {max-width: 1342px;padding: 0 60px;margin: 0 auto;}

.heart_list {margin: 0 -21px;font-size: 0;}
.heart_list li {display: inline-block;vertical-align: top;width: 10%;box-sizing: border-box;padding: 0 21px;}
.heart_list li .heart_list_cont {padding-top: 100%;position: relative;}
.heart_list li .ico_heart {position: absolute;width: 100%;height: 100%;background-color: #f7f7f7;border-radius: 50%;left: 0;top: 0;background-image: url(../img/mypage/ico_heart_off.svg);background-repeat: no-repeat;background-position: center center;background-size: 46%;}
.heart_list li.on .ico_heart {background-image: url(../img/mypage/ico_heart_on.svg);}


/* 로그인 */
.max_height { position: relative; }
.login_wrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.login { margin-bottom: 8px; padding: 52px 30px 60px; width: 356px; background-color: #f7f7f7; box-sizing: border-box;  }
.login img {vertical-align: top;}
.login h1 {margin-bottom: 30px; text-align: center;}
.login_cont {text-align: center;}
.kakao_login {display: block; width: 100%; border-radius: 6px; background: #FFCD00; color: #333; line-height: 51px; font-size: 14px; font-weight: bold;}
.naver_login {display: block; width: 100%; border-radius: 6px; background: #1EC800; color: #fff; line-height: 51px; font-size: 14px; font-weight: bold;}
.icon_kakao {display: inline-block; margin-right: 8px; width: 22px; height: 22px; background: url('../img/common/icon_kakao.svg') no-repeat 50% 50%; vertical-align: middle;}
.icon_naver {display: inline-block; margin-right: 15px; width: 22px; height: 22px; background: url('../img/common/icon_naver.svg') no-repeat 50% 50%; vertical-align: middle;}
.login_txt1 {margin: 16px 0; color: #666; line-height: 20px; font-size: 14px;}
.login_txt2 {margin-top: 30px; color: #666; line-height: 16px; font-size: 11px;}
.login_txt2 a {color: #666; font-weight: bold; text-decoration: underline;}
.login .pop_close { position: absolute; top: 20px; right: 20px; }
.login_wrap .btn_prev { color: #999; line-height: 11px; font-size: 11px; }


/* 개인정보처리방침 */
.parvacy {margin: 60px auto 0; padding: 100px 0; width: 1320px;}
.parvacy h2 {margin-bottom: 60px; color: #000; line-height: 44px; font-size: 36px; text-align: center;}
.parvacy_title {margin-bottom: 30px; color: #1E78F0; line-height: 36px; font-size: 28px;}
.parvacy_body {color: #666; line-height: 20px; font-size: 14px; white-space: pre-line;}


/* onAir */
.popup_onair.popup_video { position: static; padding: 100px 0 100px; background: none !important; flex-direction: column; z-index: -1;  }
.popup_onair .popup {background: none !important;}
.popup_onair .title { margin-bottom:19px; color: #000; line-height: 38px; font-size: 36px; text-align: center; }
.popup_onair .onair_tit {padding: 10px 20px 10px 76px; text-align: left; }
.popup_onair .onair { position: absolute; top: 10px; left: 0; display: inline-block; min-width: 66px; height: 21px; color: #fff; line-height: 21px; font-size: 9px; text-align: center; border-radius: 20px; background-color: #EC4041; vertical-align: top;}
.popup_onair .onair_tit strong { display: block; color: #000; line-height: 21px; font-size: 18px; }
.popup_onair .btn_close_pop.type2 {top: 12px; }

/* alert 팝업 */
.pop_alert {position: absolute; top: 50%; left: 50%; overflow: hidden; width: 276px; border-radius: 14px; background-color: rgba(242,242,242,0.8); transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); z-index: 102;}
.pop_alert .mid {display: flex; justify-content: center; align-content: center; align-items:center; padding: 5px 20px; min-height: 64px; border-bottom: 1px solid rgba(60,60,60,0.29); color: #000; line-height: 22px; font-size: 16px; font-weight: bold; text-align: center;}
.pop_alert .mid p {color: #000; line-height: 22px; font-size: 16px; font-weight: bold;}
.pop_alert .btm {height: 44px;}
.pop_alert .btm .btn {width: 100%; height: 44px; color: #007AFF; line-height: 44px; font-size: 17px; font-weight: bold;}


/* 공지사항 */
.notice_top {padding-top: 160px;}
.notice_top h2{font-size: 36px;color: #000;line-height: 1.3;}
.notice_sec.sec_list{padding-top: 100px;}
.wrap_tbl {border-top: 2px solid #d2d2d2;text-align: center;}
.tbl_notice .col_num {width: 79px;}
.tbl_notice .col_tit {width: auto;}
.tbl_notice .col_file {width: 200px;}
.tbl_notice .col_date {width: 201px;}
.tbl_list th {font-size: 16px;font-weight: bold;line-height:74px;color:#000;border-bottom: 1px solid #d2d2d2;}
.tbl_list td {height: 100px;font-size: 18px;line-height:21px;vertical-align:middle;border-bottom: 1px solid #d2d2d2;color:#000;}
.tbl_notice td.col_tit{text-align: left;}
.tbl_notice td .link_tit{display: inline-block;padding: 20px 0 20px 32.5px;}
.tbl_notice td .link_tit .txt_tit{display: -webkit-box;max-height:42px;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;color: #000;}
.tbl_notice td.col_file{font-size:0;color:transparent;}
.tbl_notice td .link_down{display:inline-block;padding:20px}
.tbl_notice td .link_down .ico_down{display:block;overflow:hidden;width: 15px;height: 18px;font-size:0;color:transparent;background:url(../img/contents/ico_download.svg) no-repeat 50%;}

.wrap_notice_veiw {padding-top: 165px;}
.view_head {text-align: center;padding-bottom: 60px;border-bottom: 1px solid #d2d2d2;}
.view_head .tit_view {display: block;font-size: 28px;line-height: 1.36;font-weight: bold;color: #000;}
.view_head .list_info {font-size:0;padding-top: 32px;}
.view_head li {display: inline-block;position: relative;padding:0 10px;font-size: 12px;line-height: 15px;color: #999;font-weight: bold;}
.view_head li + li:before {position: absolute;content: '';left:0;top:3px;height:10px;width:1px;background-color: #999;}
.view_body {padding:60px 0 95.5px;border-bottom: 1px solid #d2d2d2;}
.view_body img {max-width: 100%;}
.view_body .body_inner {max-width: 872px;margin: 0 auto;font-size:14px;line-height:1.57;color:#000;white-space: pre-line;}
.view_body .body_inner strong {font-size: 24px;}
.view_body .box_noticeFile {position: relative;max-width: 872px;padding: 0 200px 0 56px;margin: 60px auto 0;font-size: 0;box-sizing: border-box;}
.view_body .box_noticeFile + .box_noticeFile {margin-top: 32px;}
.view_body .box_noticeFile.case_resource {margin-top: 121px;}
.view_body .box_noticeFile.case_resource::after {position: absolute;content: '';left: 0;right: 0;top: -60px;height: 1px;background-color: #d2d2d2;}
.view_body .box_noticeFile.case_admin {padding-left: 64px;}
.view_body .box_noticeFile .txt_file {position: absolute;left: 0;top: 0;font-size: 14px;line-height: 1.57;color: #3774df;vertical-align: top;}
.view_body .box_noticeFile .link_down {display: block;font-size:14px;line-height: 1.57;color:#000; text-decoration: underline;}
.view_body .box_noticeFile .btn_allfile_down {position: absolute; top:0; right:0;width: 166px;text-align: center;background-color: #f7f7f7;border-radius: 32px;font-size: 14px;line-height: 36px;color: #000;}
.view_body .box_noticeFile .btn_allfile_down .ico_down{display: inline-block;margin: 8px 12px 0 0;width: 15px;height: 18px;background:url(../img/contents/ico_download.svg) no-repeat 50%;vertical-align: top;}
.view_body .box_noticeFile .desc_file {margin-top: 16px;font-size: 12px;line-height: 16px;color: #999;}

.view_nav .nav_area {display: flex;align-items: center;font-size: 16px;line-height: 19px;color: #464749;border-bottom: 1px solid #d2d2d2;}
.view_nav .nav_area .txt_nav {flex:0 0 223.5px;text-align: center;}
.view_nav .nav_area .link_nav {display: flex;align-items: center;height: 82px;flex:1;}
.view_nav .link_nav .txt_cont {display: -webkit-box;max-height:38px;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.btn_tblList {display: block;margin-top: 45.5px;width:156px;line-height: 44px;border: 1px solid #000;text-align: center;font-size: 14px;letter-spacing: 1.4px;}

.wrap_keyword {margin-top: 16px;text-align: center;font-size: 0;}
.wrap_keyword .item_keyword {display: inline-block;margin:16px 0 0 16px;padding: 0 24px;line-height: 36px;background-color: #f7f7f7;border-radius: 32px;color: #000;font-size: 14px;color: #000;}

.btn_tblList.type_register {float: right;}
.wrap_notice_admin {padding: 150px 0;max-width: 872px;margin: 0 auto}
.wrap_notice_admin .view_head {padding-bottom: 0;}
.wrap_notice_admin .view_head .tit_view {text-align: left;}
.view_head .wrap_inp {margin-top: 77px;}
.view_head .wrap_inp .item_inp {display: block;margin-top: 7px;}
.view_head .wrap_inp .inp_txt {border: none;display: block;width: 100%;padding:16px 0;font-size: 14px;color: #464749;line-height: 17px;border-bottom: 2px solid #464749;}
.view_head .wrap_inp .inp_txt::placeholder{color:#464749}
.wrap_notice_admin .view_body{padding: 24.5px 0 54px;}
.wrap_notice_admin .wrap_btn {display: flex;justify-content: space-between;margin-top: 50px;}
.wrap_notice_admin .wrap_btn .btn_tblList {margin-top: 0;}
/* .wrap_notice_admin .view_body .box_noticeFile {padding-top: 40px;} 2021-12-7 삭제 */
.wrap_notice_admin .view_body .box_noticeFile .txt_file {margin-top:5px;color:#464749;font-weight: bold;}
.box_noticeFile .lab_inpFile {position:relative;display: block;}
.box_noticeFile .lab_inpFile + .lab_inpFile {margin-top: 12px;}
.box_noticeFile .lab_inpFile .btn_file {display:inline-block;width: 124px;height: 34px;border-radius: 21px;border: solid 1px #464749; font-size: 13px;font-weight: bold;line-height: 32px; color: #464749;box-sizing: border-box;text-align: center; vertical-align: top;}
.box_noticeFile .lab_inpFile .inp_file {display: none;}
.box_noticeFile .lab_inpFile .txt_inp {margin-left: 16px; font-size: 14px;line-height: 34px;color:#464749;}
.box_noticeFile .lab_inpFile .btn_delete {display: inline-block;margin-left: 32px;margin-top: 9px;font-size: 14px;color:#ff5555;font-weight: bold;vertical-align: top;}

/* 가로세로 낱말 퀴즈 */
.quiz_cont {padding-bottom: 100px;}
.quiz_top {position: relative;margin-top: 60px; background-color: #3d1c60;}
.quiz_top::before{position: absolute; left:0; top: 0; height: 100%; width: 50%; background: url(../img/quiz/bg_hangul1.svg) no-repeat 50%; content: '';}
.quiz_top::after{position: absolute; right:0; top: 0; height: 100%; width: 50%; background: url(../img/quiz/bg_hangul2.svg) no-repeat 50%; content: '';}
.quiz_top {margin-top: 48px; text-align: center;}
.quiz_top .inner {position: relative; margin: 0 auto; padding-top: 92px; max-width: 1320px; height: 278px; text-align: center; box-sizing: border-box;}
.quiz_top h2 { position: relative; margin-bottom: 20px; line-height: 38px; font-size: 36px; color: #fff; z-index: 2;}
.quiz_top p {position: relative; color: #fff; line-height: 17px; font-size: 12px;z-index: 2;}

.quiz0 {margin-top: 60px;}
.quiz0 .giftQuiz {position: relative; max-width: 1096px; padding:44px 430px 41px 65px; margin: 0 auto; background-color: #f7f7f7; box-sizing: border-box;}
.quiz0 .inner .txt_gift {font-size: 20px;line-height: 1.5;}
.quiz0 .txt_gift .emph_txt {display: block; font-size: 32px; font-weight: 400;}
.quiz0 .txt_gift .emph_txt .txt_underline {text-decoration: underline;}
.quiz0 .img_g {position: absolute; top: 67px; right: 64px; max-width: 337px;}
.quiz0 .img_g .bg_tooltip {position: absolute; right:0; top: 5px; padding-top: 16px; width:60px; height: 67.5px;line-height: 1.14;text-align: center; font-weight: bold; color: #fff; background: url(../img/quiz/img_giftcon_tooltip.svg) no-repeat 50%;box-sizing: border-box;}
.quiz0 .list_gift {padding-top: 25px;}
.quiz0 .list_gift + .list_gift {padding-top: 20px;}
.quiz0 .list_gift dt {display: block; padding-bottom: 8px; font-size: 18px; line-height: 1.22; font-weight: bold;}
.quiz0 .list_gift dd {font-size: 16px;line-height: 1.38;}

.quiz1 {padding-top: 120px;}
.quiz1 .wrap_tit {text-align: center;}
.quiz1 .wrap_tit h2 {display: block; font-size: 36px; line-height: 1.22;}
.quiz1 .wrap_tit p {padding-top: 24px; font-size: 18px; line-height: 1.22; color: #696969;}

.quiz2 {margin-top: 149px;}
.quiz2 .inner {max-width: 1096px; margin: 0 auto;}
.quiz2 .area_agree + .area_agree {margin-top: 60px;}
.quiz2 .area_agree .txt_tit {display: block; margin-bottom: 20px; font-size: 22px; line-height: 1;}
.quiz2 .area_agree p {font-size: 14px; line-height: 1.7; color: #666; white-space: pre-line;}
.quiz2 .area_agree .label {position: relative; display: inline-block; margin-top: 40px; padding-left: 31px;}
.quiz2 .area_agree .inp_check {position: absolute; width:0; height:0; overflow:hidden;}
.quiz2 .area_agree .fake_check {position: absolute;left:0; top: 0; width: 21px; height: 21px; background: url(../img/quiz/ico_check_bf.svg) no-repeat 50%;}
.quiz2 .area_agree .inp_check:checked + .fake_check {background-image: url(../img/quiz/ico_check_af.svg);}
.quiz2 .area_agree .txt_label {display: inline-block; font-size: 16px; line-height: 21px; color:#666;}
.tbl_quiz .tbl_list th {padding: 16px 10px 15px; font-size: 14px; line-height: 1.43; color: #666;border-left: 1px solid #d2d2d2;}
.tbl_quiz .tbl_list th:first-child {border-left: 0 none;}
.tbl_quiz .tbl_list td {height: auto;padding: 16px 10px 17px; font-size: 14px;line-height: 1.43;color: #666;border-left: 1px solid #d2d2d2;}
.tbl_quiz .tbl_list td:first-child {border-left: 0 none;}

.btn_q_submit {display:block; margin: 60px auto 0; width: 174px;height:48px;text-align: center;background-color: #3774df; color: #fff; border-radius: 100px;font-size: 18px; font-weight: bold; color: #fff;outline: none;}

/* 자료집 */
.resoucebook_top {padding-top: 160px;}
.resoucebook_top h2{font-size: 36px;color: #000;line-height: 1.3;}
.resoucebook_sec.sec_list{padding-top: 100px;}
.wrap_resouceSearch {display: flex;max-width: 947px;height: 63px;margin: 0 auto 69px;border: 3px solid #1e78f0}
.wrap_resouceSearch .selct_search {position: relative;flex: 0 0 190px;height: 100%;cursor: pointer;}
.wrap_resouceSearch .selct_search::after {position: absolute;content:'';top:50%;right:30px;width:15px;height:9px;background: url(../img/contents/ico_select_down.svg) no-repeat 50%; background-size: contain; transform: translateY(-50%);}
.wrap_resouceSearch .selct_search .selct {display: block;width: 100%;border: 0 none;height: 100%;padding:0 37px;font-weight: bold;font-size: 16px;}
.wrap_resouceSearch .selct_search .selct option {background-color: #fff;}
.wrap_resouceSearch .inp_search {position: relative;flex: 1;padding: 0 80px 0 30px;}
.wrap_resouceSearch .inp_search::after {position: absolute;top: 12px;bottom: 12px;left: 0;width: 1px;background-color: #d2d2d2;content: '';}
.wrap_resouceSearch .inp_search .inp {display: block;height: 100%;width: 100%;border: 0 none;outline: none;font-size: 22px;color:#666;}
.wrap_resouceSearch .inp_search .btn_search {position: absolute;right: 0;top: 0;height: 100%; width: 63px;text-align: center;}
.wrap_resouceSearch .inp_search .btn_search .ico_search {display: inline-block;width: 16px;height: 16px;background:url(../img/contents/ico_search_resouce.svg) no-repeat 50%;background-size: contain;}
.cation_list {display: block;margin-bottom: 12px;font-size: 16px;line-height: 22px;color: #666;font-weight: bold;}
.cation_list .txt_num {color: #1e78f0;}
.list_resource {border-top: 1px solid #d2d2d2;}
.list_resource li {padding: 32px 88px;border-bottom: 1px solid #d2d2d2;}
.list_resource .item_resource {display: flex;}
.list_resource .item_resource .thumb_item {display: block;flex: 0 0 536px;outline: 10px solid rgba(0,0,0,0.035); outline-offset: -10px;}
.list_resource .item_resource .info_item {position: relative;flex:1;padding: 24px 0 46px 0;margin: 0 0 24px 32px;box-sizing: border-box;}
.list_resource .item_resource .info_item .key_txt {color: #3774df; text-decoration: underline;}
.list_resource .item_resource .tit_info {display: block;display: -webkit-box;overflow: hidden;max-height: 96px;font-size: 24px;line-height: 32px;color: #000;font-weight: bold;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.list_resource .item_resource .tit_info:hover {text-decoration: underline;}
.list_resource .item_resource .txt_info {display: block;display: -webkit-box;overflow: hidden;margin-top: 12px;font-size: 14px;line-height: 22px;max-height:66px;color: #000;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.list_resource .item_resource .date_info {display: block;margin-top: 12px;color: #999;font-size: 12px;line-height: 15px;font-weight: bold;}
.list_resource .item_resource .link_view {position: absolute;left: 0;bottom: 0;width: 128px;line-height: 46px;border: 1px solid #000;text-align: center;font-size: 14px;color: #000;}

.wrap_pagination {margin-top: 52px;font-size: 0;text-align: center;}
.wrap_pagination .ico_arr {display: inline-block;vertical-align: top;height: 36px;width:8px;background-position: 50%;background-repeat: no-repeat;}
.wrap_pagination .txt_num {display: inline-block;margin: 0 9px;width: 32px;line-height: 34px;vertical-align: top;font-size: 14px;color: #999;font-weight: bold;border: 1px solid transparent;box-sizing: border-box;cursor: pointer;border-radius: 6px;}
.wrap_pagination .txt_num.on {border-color: #3774df; color: #3774df;}
.wrap_pagination .ico_first {width: 16px;margin-right: 24px;background-image: url(../img/contents/ico_pg_first.svg);}
.wrap_pagination .ico_prev {margin-right: 39px;background-image: url(../img/contents/ico_pg_prev.svg);}
.wrap_pagination .ico_next {margin-left: 39px;background-image: url(../img/contents/ico_pg_next.svg);}
.wrap_pagination .ico_last {width: 16px;margin-left: 24px;background-image: url(../img/contents/ico_pg_last.svg);}

